
.wxqr {
    display: none;
    position: absolute;
    width: 700%;
    height: auto;
    border-radius: 2rem;
    /* right: 2rem; */
    margin-left: 2rem;
    z-index: 3;
}
/* ============ MEDIA QUERIES (SMALL DEVICE) ============*/
@media screen and (max-width: 600px){
    .header__socials{
        display: none;
    }
}