.header__socials {
    margin-top: 2.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* space between elements */
    gap: 0.8rem;
    left: 5.5rem;
    bottom: 2rem;
    z-index: 2;
}
.header__socials::before {
    content: '';
    width: 2px;
    height: 10rem;
    background: var(--color-primary);
}
.header__socials::after {
    content: '';
    width: 2px;
    height: 8rem;
    background: var(--color-primary);
}
.wxqrwrapper {
    display: none;
}
.wxqr {
    display: none;
    position: absolute;
    width: 700%;
    height: auto;
    border-radius: 2rem;
    /* right: 2rem; */
    margin-left: 2rem;
    z-index: 3;
}
/* ============ MEDIA QUERIES (SMALL DEVICE) ============*/
@media screen and (max-width: 600px){
    .header__socials{
        display: none;
    }
}