
nav {
    background: rgba(0, 0, 0, 0.3);
    /* make width the same as the size of content */
    width: fit-content;
    padding: 0.5rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 2.2rem;
    backdrop-filter: blur(10px);
}
nav a {
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}

nav a .nav__icon {
    color: var(--color-white);
}

nav a.active .nav__icon {
    color: var(--color-primary);
}